<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>achievement-android-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,734},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>achievement-android-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{841,734},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>achievement-iOS-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{779,682},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>achievement-iOS-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{717,682},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>auto-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,528},{240,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,78}}</string>
			<key>sourceSize</key>
			<string>{240,78}</string>
		</dict>
		<key>auto-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,244},{240,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,78}}</string>
			<key>sourceSize</key>
			<string>{240,78}</string>
		</dict>
		<key>blink-text-back.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,105},{23,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,23}}</string>
			<key>sourceSize</key>
			<string>{23,23}</string>
		</dict>
		<key>btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,2},{240,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,78}}</string>
			<key>sourceSize</key>
			<string>{240,78}</string>
		</dict>
		<key>btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,776},{240,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,78}}</string>
			<key>sourceSize</key>
			<string>{240,78}</string>
		</dict>
		<key>btn-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,534},{240,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,78}}</string>
			<key>sourceSize</key>
			<string>{240,78}</string>
		</dict>
		<key>cave-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,546},{204,256}}</string>
			<key>offset</key>
			<string>{-7,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,7},{204,256}}</string>
			<key>sourceSize</key>
			<string>{220,276}</string>
		</dict>
		<key>cave-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,274},{206,270}}</string>
			<key>offset</key>
			<string>{-7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{206,270}}</string>
			<key>sourceSize</key>
			<string>{220,276}</string>
		</dict>
		<key>cave-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{206,270}}</string>
			<key>offset</key>
			<string>{-7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{206,270}}</string>
			<key>sourceSize</key>
			<string>{220,276}</string>
		</dict>
		<key>close-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,486},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>close-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,486},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>cloud-night.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,770},{222,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,94}}</string>
			<key>sourceSize</key>
			<string>{222,94}</string>
		</dict>
		<key>cloud.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,788},{222,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,94}}</string>
			<key>sourceSize</key>
			<string>{222,94}</string>
		</dict>
		<key>day-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,244},{240,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,78}}</string>
			<key>sourceSize</key>
			<string>{240,78}</string>
		</dict>
		<key>day-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,2},{240,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,78}}</string>
			<key>sourceSize</key>
			<string>{240,78}</string>
		</dict>
		<key>diamond-polish.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,105},{112,135}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,135}}</string>
			<key>sourceSize</key>
			<string>{116,135}</string>
		</dict>
		<key>dynamite.png</key>
		<dict>
			<key>frame</key>
			<string>{{528,528},{65,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,135}}</string>
			<key>sourceSize</key>
			<string>{65,135}</string>
		</dict>
		<key>english-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{917,146},{105,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,70}}</string>
			<key>sourceSize</key>
			<string>{105,70}</string>
		</dict>
		<key>english-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,146},{105,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,70}}</string>
			<key>sourceSize</key>
			<string>{105,70}</string>
		</dict>
		<key>facebook-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,672},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>facebook-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{841,672},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>game-center-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{779,620},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>game-center-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{717,620},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>icon-288.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,242},{144,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,144}}</string>
			<key>sourceSize</key>
			<string>{144,144}</string>
		</dict>
		<key>icon-gold-miner-ios7-200.png</key>
		<dict>
			<key>frame</key>
			<string>{{528,665},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>leaderboard-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{940,610},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>leaderboard-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{878,610},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>lucky-clover.png</key>
		<dict>
			<key>frame</key>
			<string>{{601,107},{119,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,135}}</string>
			<key>sourceSize</key>
			<string>{119,135}</string>
		</dict>
		<key>menu1-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,558},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>menu1-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,558},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>menu2-close-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{940,548},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>menu2-close-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{878,548},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>menu2-open-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,496},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>menu2-open-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,496},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>miner-face-normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,636},{85,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,106}}</string>
			<key>sourceSize</key>
			<string>{85,106}</string>
		</dict>
		<key>miner-face-smile.png</key>
		<dict>
			<key>frame</key>
			<string>{{546,875},{85,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,106}}</string>
			<key>sourceSize</key>
			<string>{85,106}</string>
		</dict>
		<key>miner-face-whistle-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{546,767},{85,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,106}}</string>
			<key>sourceSize</key>
			<string>{85,106}</string>
		</dict>
		<key>miner-face-whistle-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,388},{85,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,106}}</string>
			<key>sourceSize</key>
			<string>{85,106}</string>
		</dict>
		<key>miner-face-whistle-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{595,528},{85,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,106}}</string>
			<key>sourceSize</key>
			<string>{85,106}</string>
		</dict>
		<key>miner-leg-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,804},{101,154}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{101,154}}</string>
			<key>sourceSize</key>
			<string>{105,160}</string>
		</dict>
		<key>miner-leg-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,2},{101,152}}</string>
			<key>offset</key>
			<string>{2,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{101,152}}</string>
			<key>sourceSize</key>
			<string>{105,160}</string>
		</dict>
		<key>miner-leg-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,2},{103,152}}</string>
			<key>offset</key>
			<string>{1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{103,152}}</string>
			<key>sourceSize</key>
			<string>{105,160}</string>
		</dict>
		<key>more-game-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,486},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>more-game-btn-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{893,486},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>music-off-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{841,362},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>music-off-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,362},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>music-on-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,290},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>music-on-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{877,290},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>next-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,994},{75,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,27}}</string>
			<key>sourceSize</key>
			<string>{75,27}</string>
		</dict>
		<key>next-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,994},{75,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,27}}</string>
			<key>sourceSize</key>
			<string>{75,27}</string>
		</dict>
		<key>night-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,538},{240,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,78}}</string>
			<key>sourceSize</key>
			<string>{240,78}</string>
		</dict>
		<key>night-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,244},{240,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,78}}</string>
			<key>sourceSize</key>
			<string>{240,78}</string>
		</dict>
		<key>option-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{831,434},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>option-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,434},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>pause-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,486},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,17},{46,46}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>pause-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,486},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,17},{46,46}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>random-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,2},{240,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,78}}</string>
			<key>sourceSize</key>
			<string>{240,78}</string>
		</dict>
		<key>random-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,546},{240,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,78}}</string>
			<key>sourceSize</key>
			<string>{240,78}</string>
		</dict>
		<key>rank-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,424},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>rank-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,362},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>rate-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,960},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>rate-btn-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,960},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>rock-collectors-book.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,242},{147,135}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,135}}</string>
			<key>sourceSize</key>
			<string>{149,135}</string>
		</dict>
		<key>russian-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{917,74},{105,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,70}}</string>
			<key>sourceSize</key>
			<string>{105,70}</string>
		</dict>
		<key>russian-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,74},{105,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,70}}</string>
			<key>sourceSize</key>
			<string>{105,70}</string>
		</dict>
		<key>sound-off-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{805,290},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>sound-off-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,218},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>sound-on-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{877,218},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>sound-on-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{805,218},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>start-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,804},{200,72}}</string>
			<key>offset</key>
			<string>{6,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,51},{200,72}}</string>
			<key>sourceSize</key>
			<string>{300,200}</string>
		</dict>
		<key>start-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,804},{200,72}}</string>
			<key>offset</key>
			<string>{6,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,51},{200,72}}</string>
			<key>sourceSize</key>
			<string>{300,200}</string>
		</dict>
		<key>strength-drink.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,391},{121,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,135}}</string>
			<key>sourceSize</key>
			<string>{121,135}</string>
		</dict>
		<key>strength.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,486},{75,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,40}}</string>
			<key>sourceSize</key>
			<string>{75,40}</string>
		</dict>
		<key>thai-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{865,2},{105,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,70}}</string>
			<key>sourceSize</key>
			<string>{105,70}</string>
		</dict>
		<key>thai-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,2},{105,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,70}}</string>
			<key>sourceSize</key>
			<string>{105,70}</string>
		</dict>
		<key>turkish-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,107},{105,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,70}}</string>
			<key>sourceSize</key>
			<string>{105,70}</string>
		</dict>
		<key>turkish-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{733,228},{105,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,70}}</string>
			<key>sourceSize</key>
			<string>{105,70}</string>
		</dict>
		<key>vietnamese-btn-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{697,388},{105,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,70}}</string>
			<key>sourceSize</key>
			<string>{105,70}</string>
		</dict>
		<key>vietnamese-btn-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,496},{105,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,70}}</string>
			<key>sourceSize</key>
			<string>{105,70}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>general-sheet.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0e6e4770ad0f065092e22c89e8fb660f:6b4d8f544ed3a3f9b747c72623f14fa6:aed6a97ef92e8c33f926b604caabf116$</string>
		<key>textureFileName</key>
		<string>general-sheet.png</string>
	</dict>
</dict>
</plist>
