<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bone.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,844},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>bone-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,921},{35,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,29}</string>
			</dict>
			<key>bone-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,886},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>bone-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,629},{100,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,95}</string>
			</dict>
			<key>claw-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,64},{20,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,31}</string>
			</dict>
			<key>claw-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,126},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>
			<key>claw-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,95},{20,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,31}</string>
			</dict>
			<key>clouds-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,484},{236,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,66}</string>
			</dict>
			<key>clouds-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,480},{286,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,56}</string>
			</dict>
			<key>clouds-night.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,266},{286,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,56}</string>
			</dict>
			<key>clouds-night-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,629},{234,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,66}</string>
			</dict>
			<key>coconuts.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{279,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,132}</string>
			</dict>
			<key>coconuts-night.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,0},{281,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,130}</string>
			</dict>
			<key>diamond-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,0},{32,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,22}</string>
			</dict>
			<key>diamond-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,877},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>diamond-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,808},{34,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,36}</string>
			</dict>
			<key>diamond-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,948},{40,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,46}</string>
			</dict>
			<key>diamond-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,900},{40,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,38}</string>
			</dict>
			<key>diamond-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,659},{52,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,50}</string>
			</dict>
			<key>diamond-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,909},{34,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,30}</string>
			</dict>
			<key>dolphin-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,958},{40,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,50}</string>
			</dict>
			<key>dolphin-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,218},{36,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,50}</string>
			</dict>
			<key>dolphin-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,958},{50,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>dolphin-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,382},{52,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,72}</string>
			</dict>
			<key>dolphin-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,611},{48,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,62}</string>
			</dict>
			<key>dolphin-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,654},{40,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,56}</string>
			</dict>
			<key>dolphin-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,766},{34,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,42}</string>
			</dict>
			<key>dolphin-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,256},{28,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,56}</string>
			</dict>
			<key>dolphin-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,268},{32,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>
			<key>dolphin-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,318},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>dolphin-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,862},{50,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,38}</string>
			</dict>
			<key>dolphin-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,729},{46,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,32}</string>
			</dict>
			<key>dolphin-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,312},{50,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,24}</string>
			</dict>
			<key>dolphin-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,170},{48,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,26}</string>
			</dict>
			<key>dolphin-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,731},{52,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,42}</string>
			</dict>
			<key>gem-mouse-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,932},{49,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,42}</string>
			</dict>
			<key>gem-mouse-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,694},{53,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,42}</string>
			</dict>
			<key>gem-mouse-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,773},{53,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,40}</string>
			</dict>
			<key>gem-mouse-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,678},{53,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,42}</string>
			</dict>
			<key>gem-mouse-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,826},{53,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,40}</string>
			</dict>
			<key>gem-mouse-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,366},{57,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,46}</string>
			</dict>
			<key>gem-mouse-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,736},{53,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,42}</string>
			</dict>
			<key>gem-mouse-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,778},{53,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,42}</string>
			</dict>
			<key>goal-money-banner.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,322},{159,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,158}</string>
			</dict>
			<key>goal-money-banner-night.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,130},{159,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,158}</string>
			</dict>
			<key>goal-symbol.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,597},{110,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,150}</string>
			</dict>
			<key>gold-0-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,747},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>
			<key>gold-0-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,835},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>
			<key>gold-0-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,797},{110,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,101}</string>
			</dict>
			<key>gold-0-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,687},{110,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,111}</string>
			</dict>
			<key>gold-0-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,730},{100,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,105}</string>
			</dict>
			<key>gold-0-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,645},{102,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,119}</string>
			</dict>
			<key>gold-0-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,860},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>
			<key>gold-1-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,906},{95,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,98}</string>
			</dict>
			<key>gold-1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,845},{97,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,98}</string>
			</dict>
			<key>gold-1-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,747},{115,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,106}</string>
			</dict>
			<key>gold-1-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,530},{115,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,118}</string>
			</dict>
			<key>gold-1-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,717},{105,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,110}</string>
			</dict>
			<key>gold-1-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,591},{107,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,126}</string>
			</dict>
			<key>gold-1-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,898},{95,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,98}</string>
			</dict>
			<key>helicopter-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,362},{50,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,24}</string>
			</dict>
			<key>helicopter-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,412},{50,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,24}</string>
			</dict>
			<key>helicopter-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,462},{50,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,24}</string>
			</dict>
			<key>helicopter-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,512},{50,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,24}</string>
			</dict>
			<key>high-score.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,0},{279,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,100}</string>
			</dict>
			<key>high-score-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,100},{156,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,30}</string>
			</dict>
			<key>leaves-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,378},{219,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,80}</string>
			</dict>
			<key>leaves-0-night.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,266},{218,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{218,79}</string>
			</dict>
			<key>leaves-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,100},{278,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{278,72}</string>
			</dict>
			<key>leaves-1-night.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,130},{277,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{277,71}</string>
			</dict>
			<key>leaves-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,407},{184,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,90}</string>
			</dict>
			<key>leaves-2-night.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,272},{192,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,89}</string>
			</dict>
			<key>level-time-banner.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,288},{133,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,127}</string>
			</dict>
			<key>level-time-banner-night.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,560},{133,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,127}</string>
			</dict>
			<key>mouse-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,933},{49,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,42}</string>
			</dict>
			<key>mouse-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,820},{53,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,42}</string>
			</dict>
			<key>mouse-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,879},{53,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,40}</string>
			</dict>
			<key>mouse-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,853},{53,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,42}</string>
			</dict>
			<key>mouse-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,863},{53,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,42}</string>
			</dict>
			<key>mouse-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,950},{53,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,42}</string>
			</dict>
			<key>mouse-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,688},{53,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,42}</string>
			</dict>
			<key>mouse-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,709},{53,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,42}</string>
			</dict>
			<key>owl.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,272},{110,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,55}</string>
			</dict>
			<key>owl-eye-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,126},{16,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,6}</string>
			</dict>
			<key>owl-eye-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,138},{16,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,6}</string>
			</dict>
			<key>owl-eye-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,138},{16,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,6}</string>
			</dict>
			<key>owl-eye-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,142},{16,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,6}</string>
			</dict>
			<key>owl-eye-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,154},{16,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,6}</string>
			</dict>
			<key>owl-eye-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,154},{16,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,6}</string>
			</dict>
			<key>owl-eye-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,158},{16,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,6}</string>
			</dict>
			<key>owl-eye-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,100},{16,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,6}</string>
			</dict>
			<key>owl-eye-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,100},{16,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,6}</string>
			</dict>
			<key>pulled-diamond-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,32},{32,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,22}</string>
			</dict>
			<key>pulled-diamond-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,572},{56,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,50}</string>
			</dict>
			<key>pulled-diamond-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,616},{72,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,80}</string>
			</dict>
			<key>pulled-diamond-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,464},{86,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,76}</string>
			</dict>
			<key>pulled-diamond-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,540},{86,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,76}</string>
			</dict>
			<key>pulled-diamond-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,762},{100,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,98}</string>
			</dict>
			<key>pulled-diamond-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,546},{60,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,56}</string>
			</dict>
			<key>pulled-gem-mouse-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,933},{49,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,42}</string>
			</dict>
			<key>pulled-gem-mouse-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,606},{53,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,48}</string>
			</dict>
			<key>pulled-gem-mouse-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,514},{55,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,58}</string>
			</dict>
			<key>pulled-gem-mouse-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,352},{61,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,50}</string>
			</dict>
			<key>pulled-gem-mouse-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,224},{65,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,50}</string>
			</dict>
			<key>pulled-gem-mouse-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,423},{57,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,46}</string>
			</dict>
			<key>pulled-gem-mouse-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,481},{65,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,56}</string>
			</dict>
			<key>pulled-gem-mouse-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,720},{53,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,42}</string>
			</dict>
			<key>pulled-gold-0-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,822},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>
			<key>pulled-gold-0-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,853},{104,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,105}</string>
			</dict>
			<key>pulled-gold-0-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,415},{122,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,115}</string>
			</dict>
			<key>pulled-gold-0-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,132},{140,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,131}</string>
			</dict>
			<key>pulled-gold-0-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,262},{150,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,149}</string>
			</dict>
			<key>pulled-gold-0-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,411},{150,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,149}</string>
			</dict>
			<key>pulled-gold-0-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,480},{150,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,149}</string>
			</dict>
			<key>pulled-gold-1-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,920},{95,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,98}</string>
			</dict>
			<key>pulled-gold-1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,886},{101,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,106}</string>
			</dict>
			<key>pulled-gold-1-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,766},{123,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,120}</string>
			</dict>
			<key>pulled-gold-1-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,132},{147,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,134}</string>
			</dict>
			<key>pulled-gold-1-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,0},{163,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,162}</string>
			</dict>
			<key>pulled-gold-1-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,100},{163,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,162}</string>
			</dict>
			<key>pulled-gold-1-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,162},{163,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,160}</string>
			</dict>
			<key>rope.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,126},{3,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,20}</string>
			</dict>
			<key>skull.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,552},{60,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,59}</string>
			</dict>
			<key>soil-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,130},{50,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,94}</string>
			</dict>
			<key>soil-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,898},{38,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,50}</string>
			</dict>
			<key>stone-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,628},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>stone-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,454},{60,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,52}</string>
			</dict>
			<key>TNT.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,413},{55,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,68}</string>
			</dict>
			<key>TNT-fragment.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,729},{42,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,35}</string>
			</dict>
			<key>treasure-bag.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,289},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>level-sheet.png</string>
			<key>realTextureFileName</key>
			<string>level-sheet.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>